@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 221 39% 11%;

    --muted: 220 14% 96%;
    --muted-foreground: 220 9% 46%;

    --popover: 0 0% 100%;
    --popover-foreground: 221 39% 11%;

    --border: 220 13% 91%;
    --input: 220 13% 91%;

    --card: 0 0% 100%;
    --card-foreground: 221 39% 11%;

    --primary: 221 39% 11%;
    --primary-foreground: 210 20% 98%;

    --secondary: 220 14% 96%;
    --secondary-foreground: 221 39% 11%;

    --accent: 220 14% 96%;
    --accent-foreground: 221 39% 11%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 20% 98%;

    --ring: 218 11% 65%;

    --radius: 0.5rem;
  }
  
  *,
  *::before,
  *::after {
    @apply box-border;
  }

  * {
    @apply m-0;
  }

  html,
  body {
    @apply h-full;
  }

  body {
    @apply leading-normal antialiased min-h-full transition-colors text-gray-900;
  }

  img,
  picture,
  video,
  canvas,
  svg {
    @apply block max-w-full;
  }

  /* Remove built-in form typography styles */
  input,
  button,
  textarea,
  select {
    font: inherit;
  }

  /* Avoid text overflows */
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    overflow-wrap: break-word;
  }

  pre {
    white-space: pre-wrap;
    overflow-x: auto;
  }

  .root {
    @apply isolate;
  }
}

[data-highlighted-line] {
  @apply bg-[#49505b];
}

[data-line] {
  @apply border-l-2 border-l-transparent px-6;
}

[data-highlighted-chars] {
  @apply bg-gray-300/20 rounded;
  box-shadow: 0 0 0 4px rgb(125 211 252 / 0.2);
}