@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {  
  *,
  *::before,
  *::after {
    @apply box-border;
  }

  * {
    @apply m-0;
  }

  html,
  body {
    @apply h-full;
  }

  body {
    @apply leading-normal antialiased min-h-full transition-colors text-gray-900;
  }

  img,
  picture,
  video,
  canvas,
  svg {
    @apply block max-w-full;
  }

  /* Remove built-in form typography styles */
  input,
  button,
  textarea,
  select {
    font: inherit;
  }

  /* Avoid text overflows */
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    overflow-wrap: break-word;
  }

  pre {
    overflow-x: auto;
  }

  .root {
    @apply isolate;
  }
}

[data-highlighted-line] {
  @apply bg-[#49505b];
}

[data-line] {
  @apply border-l-2 border-l-transparent px-6;
}

[data-highlighted-chars] {
  @apply bg-gray-300/20 rounded;
  box-shadow: 0 0 0 4px rgb(125 211 252 / 0.2);
}

.image-bg {
  background-image: url("https://res.cloudinary.com/dgppby8lr/image/upload/w_2400,q_auto/g_north_east,x_100,y_100,l_text:roboto_84:jpg%201x/v1705736997/build-ui-fast/image-bg_dfgg2a.jpg");
  background-image: -webkit-image-set(
      url("https://res.cloudinary.com/dgppby8lr/image/upload/w_2400,q_auto/g_north_east,x_100,y_100,l_text:roboto_84:jpg%201x/v1705736997/build-ui-fast/image-bg_dfgg2a.jpg") 1x,
      url("https://res.cloudinary.com/dgppby8lr/image/upload/w_2400,q_auto,dpr_2.0/g_north_east,x_100,y_100,l_text:roboto_84:jpg%202x/v1705736997/build-ui-fast/image-bg_dfgg2a.jpg") 2x);
  background-image: image-set(
      url("https://res.cloudinary.com/dgppby8lr/image/upload/w_2400,q_auto/g_north_east,x_100,y_100,l_text:roboto_84:jpg%201x/v1705736997/build-ui-fast/image-bg_dfgg2a.jpg") 1x,
      url("https://res.cloudinary.com/dgppby8lr/image/upload/w_2400,q_auto,dpr_2.0/g_north_east,x_100,y_100,l_text:roboto_84:jpg%202x/v1705736997/build-ui-fast/image-bg_dfgg2a.jpg") 2x);

  @supports (background-image: url("logo.webp")) {
    background-image: url("https://res.cloudinary.com/dgppby8lr/image/upload/w_2400,q_auto/g_north_east,x_100,y_100,l_text:roboto_84:webp%201x/v1705736997/build-ui-fast/image-bg_dfgg2a.webp");
    background-image: -webkit-image-set(
      url("https://res.cloudinary.com/dgppby8lr/image/upload/w_2400,q_auto/g_north_east,x_100,y_100,l_text:roboto_84:webp%201x/v1705736997/build-ui-fast/image-bg_dfgg2a.webp") 1x,
      url("https://res.cloudinary.com/dgppby8lr/image/upload/w_2400,q_auto,dpr_2.0/g_north_east,x_100,y_100,l_text:roboto_84:webp%202x/v1705736997/build-ui-fast/image-bg_dfgg2a.webp") 2x);
    background-image: image-set(
      url("https://res.cloudinary.com/dgppby8lr/image/upload/w_2400,q_auto/g_north_east,x_100,y_100,l_text:roboto_84:webp%201x/v1705736997/build-ui-fast/image-bg_dfgg2a.webp") 1x,
      url("https://res.cloudinary.com/dgppby8lr/image/upload/w_2400,q_auto,dpr_2.0/g_north_east,x_100,y_100,l_text:roboto_84:webp%202x/v1705736997/build-ui-fast/image-bg_dfgg2a.webp") 2x);
  }

  @supports (background-image: url("logo.avif")) {
    background-image: url("https://res.cloudinary.com/dgppby8lr/image/upload/w_2400,q_auto/g_north_east,x_100,y_100,l_text:roboto_84:avif%201x/v1705736997/build-ui-fast/image-bg_dfgg2a.avif");
    background-image: -webkit-image-set(
      url("https://res.cloudinary.com/dgppby8lr/image/upload/w_2400,q_auto/g_north_east,x_100,y_100,l_text:roboto_84:avif%201x/v1705736997/build-ui-fast/image-bg_dfgg2a.avif") 1x,
      url("https://res.cloudinary.com/dgppby8lr/image/upload/w_2400,q_auto,dpr_2.0/g_north_east,x_100,y_100,l_text:roboto_84:avif%202x/v1705736997/build-ui-fast/image-bg_dfgg2a.avif") 2x);
    background-image: image-set(
      url("https://res.cloudinary.com/dgppby8lr/image/upload/w_2400,q_auto/g_north_east,x_100,y_100,l_text:roboto_84:avif%201x/v1705736997/build-ui-fast/image-bg_dfgg2a.avif") 1x,
      url("https://res.cloudinary.com/dgppby8lr/image/upload/w_2400,q_auto,dpr_2.0/g_north_east,x_100,y_100,l_text:roboto_84:avif%202x/v1705736997/build-ui-fast/image-bg_dfgg2a.avif") 2x);
  }
}

@keyframes stagger-enter {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

.stagger-enter-item {
  --stagger: 0;
  --delay: 120ms;
  --start: 0ms;

  animation: stagger-enter 0.6s both;
  animation-delay: calc(var(--stagger) * var(--delay) + var(--start));
}